.avatar{
  width: 125px;
  height: 125px;
  min-width: 125px;
  min-height: 125px;
  background: #fff;
  border-radius: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.borderMost::after{
  content: '';
  position: absolute;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  border-radius: 50%;
  border:2px solid var(--border-avatar);
  border-style: dashed;
  background: transparent;
}
.borderMost::before{
  content: '';
  position: absolute;
  top:-9px;
  left:-9px;
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  border-radius: 50%;
  border:4px solid var(--shadow-avatar);
  filter: blur(4px);
}
.borderLess{
  box-shadow: 0 0 30px var(--shadow-avatar);
  border:3px solid var(--border-avatar-secondary);
}
.avatar span{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
}