.player{
  background: var(--background-player);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  z-index: 10;
  transition: all .05s;
  cursor: pointer;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.player:hover{
  transform: scale(1.3);
  z-index: 15;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}
.containerPlayers{
  display: flex;
  flex-direction: column;
  gap:8px
}