.dashboard{
  width: 100%;
  margin-top:44px
}
.dashboardContent{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:44px
}
.dashboard_box_playerPainel{
  display: flex;
  align-items: center;
}
@media(max-width:1200px){

  .dashboardContent{
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
  }
}
@media(max-width:768px){
  .dashboardContent{
    padding: 1rem;
  }
}