:root{
  --primary-color:#B13D7C;
  --secondary-color:#732B81;
  
  --red:#D03C6C;
  --white:#fff;
  --black:#2B2B2B;
  --gray:#E9E3E8;
  --dark-gray:#919191;
  --title:#552C8A;
  --title-secondaty:#A0A0A0;
  --text:#3A3A3A;
  --text-secondary:#D03C6C;
  --gradient-background:linear-gradient(145deg, #C00E4F, #8B206F);
  --gradient-background-box:linear-gradient(#BA3E7C, #642E87);
  --background: #F7F3F7;

  --background-tags:#C50341;

  --button-gradient:linear-gradient(-0deg, #833381 5%, #A8397B 80%);

  --placeholder:#cccccc;
  
  --footer-background:#E9E3E9;

  --divider:#ebe4eb;
  --hover-background:#F7EEF7;
  --hover-text-color:#B13D7C;

  --border-avatar:#AE83C7;
  --shadow-avatar:#652E88;

  --border-avatar-secondary:#A40662;
  --background-player:#CD9ABE;

  --background-player-card:linear-gradient(#fff, #E6E6E6);
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: var(--background);
  color:var(--text);
}
body,input,textarea,button{
  font: 400 1rem "Poppins", sans-serif;
}

button {
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
}

a{
  color:inherit;
  text-decoration: none;
}
h1,h2,h3,h4{
  color:var(--title);
  margin:0;
  font-size: 1.35rem;
}
p{margin:0}
.container{
  width: 100%;
}
.content{
  max-width: 1400px;
  margin:0 auto;
  padding: 0 2rem;
}
.span-img-fake{
  display: block;
  width: 35px;
  height: 35px;
  background: #F3F5F7;
  border-radius: 25px;
  color:var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}
.icon{
  height: 1rem;
}

.loading{
  width: 35px;
  height: 35px;
  margin:32px auto;
  border-radius: 25px;
  border:2px solid var(--primary-color);
  border-left-color:var(--white);
  animation: animaLoading .6s linear infinite;
}

@keyframes animaLoading{
  to{
    transform: rotate(360deg);
  }
}

 input,
 textarea,
 select,
 input{
  width: 100%;
  border-radius: 3px;
  border:solid 1px var(--dark-gray);
  padding: 6px 16px;
  font-size: .75rem;
  outline: none;
  color:var(--text);
}
.input_invalid{
  border-color: var(--red)
}
.input_invalid + label{
  color: var(--red);
}
@media(max-width:768px){
  :root{
    font-size:83%
  }
  .content{
    padding: 0 1rem;
  }
}
