.player{
  background: var(--background-player);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all .05s;
  cursor: pointer;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  user-select: none;
  position: relative;
}

.player:hover{
  transform: scale(1.1);
  z-index: 15;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}
.player::before{
  content:'';
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 100px;
  background: transparent;
  position: absolute;
  top:-2px;
  left:-2px;
  border:dashed 1px var(--divider);
  animation: animaBorderPlayer 10s linear infinite;
}
.playerSelected::before{
  opacity: 0;
}

@keyframes animaBorderPlayer{
  to{
    transform: rotate(360deg);
  }
}
.playerName{
  font-size: .88rem;
  color:var(--white);
  overflow: hidden;
  padding: 0 4px;
  font-weight: 600;
  white-space: nowrap;
  text-transform: uppercase;
}

.playerDrop{
  animation: animaDrop .2s;
}
@keyframes animaDrop{
  0%{
    transform: scale(1.2);
  }
  50%{
    transform: scale(.75);
  }
  100%{
    transform: scale(1);

  }
}
.player:hover::before{
  content: '';
  width: 100%;
  height: calc(100% + 10px);
  position: absolute;
  background: transparent;
  transform: translateX(50%);
  opacity: 0;
}
.tooltip{
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
  position: absolute;
  background: var(--black);
  border-radius: 5px;
  padding: 12px 24px;
  gap:4px;
  font-size: .75rem;
  color:var(--white);
  animation: animaAriaLabel .1s forwards;
  left:100%;
  opacity: 0;
  transform: translateX(35px) scale(.8);
  cursor: initial;
  user-select: text;
}
.tooltip::before {
  content:'';
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--black);
  border-radius: 3px;
  color:var(--white);
  left:0;
  transform: translateX(-45%) rotate(45deg);
}
.tooltip p{
  display: flex;
  gap:4px;
  font-weight: 200;
  color:var(--gray)
}
.tooltip p span{
  display: flex;
  gap:4px;
  font-weight: 700;
}
.tooltip button{
  margin-top:12px;
  padding: 8px 16px;
  background: var(--red);
  color:var(--white);
  font-size: .75rem;
  font-weight: 600;
  border:none;
  border-radius: 10px;
}
.tooltip button:hover{
  opacity: 0.8;
}
.player:hover .tooltip{
  visibility: visible;
  opacity: 0;
  animation: animaTooltip .2s forwards;
  animation-delay: .1s;
}
@keyframes animaTooltip{
  to{
    opacity: 1;
    transform: translateX(10px);
  }
}
@media(max-width:768px){
  .player{
    width: 45px;
    height: 45px;
  }
}