.profile{
  display: flex;
  flex-direction: column;
  gap:24px;
}
.profile h2{
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--white);

}
.player{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap:8px;
}
.player h3{
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 600;
  width: 100%;
  max-width: 60px;
  border-bottom: 1px solid #fff;

}